<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="origin">

    <title>
        <%= title %>
    </title>

    <link rel="icon" href="/img/favicon.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/lib/css/jquery.pagepiling.min.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/animations.css' />
    <link rel='stylesheet' href='/css/responsive.css' />
</head>

<body>
    <header class="site-header col-12 row">
        <div class="site-logo col-2 desktop">
            <img src='/img/logo.png'>
        </div>
        <div class="nav col-12 col-sm-8">
            <ul id="menu">
                <li data-menuanchor="about" class="active">
                    <a href="#about" scroll-to="#section-about">Giới Thiệu</a>
                </li>
                <li data-menuanchor="services">
                    <a href="#services" scroll-to="#section-services">Dịch Vụ</a>
                </li>
                <li data-menuanchor="tech">
                    <a href="#tech" scroll-to="#section-tech">Công Nghệ</a>
                </li>
                <!-- <li data-menuanchor="work"><a href="#work" scroll-to="#section-work">Đồ Án</a></li>
                <li data-menuanchor="contact"><a href="#contact" scroll-to="#section-contact">Liên Hệ</a></li> -->
            </ul>
        </div>
        <div class="col-2 desktop">
            &nbsp;
        </div>
    </header>

    <section class="site-main col-12">
        <div id="pagepiling">

            <div class="section" id="section-about">
                <div id="particles-js" class="particles-fadeIn"></div>
                <div class="logo fadeInUp-delay-500">
                    <img src="/img/logo.png">
                </div>
                <div class="introduction fadeInUp-delay-800">
                    <p class="slogan">
                        Yêu cầu của bạn là nhiệm vụ chúng tôi.
                    </p>
                    <p class="content">
                        Devesigns chuyên cung cấp các giải pháp công nghệ tốt cho doanh nghiệp của bạn. Với đội ngũ trẻ, nhiệt huyết và năng động,
                        chúng tôi có thể biến giấc mơ của bạn thành sự thật.
                    </p>
                </div>
                <div id="intro-carousel" class="intro-carousel fadeInUp-delay-1100">
                    <!-- <button class="prev bouncingUp animation-infinite" onclick="minusSlide(1)">
                        <img src="/img/carousel-up.png">
                    </button> -->
                    <div class="intro-carousel-inner">
                        <div class="intro-carousel-item services active">
                            <div class="services-item">
                                <img src="/img/e-commerce.png">
                                <div class="tags">
                                    <span>Shopify</span>
                                    <span>Woo-Commerce</span>
                                </div>
                            </div>
                            <div class="services-item">
                                <img src="/img/web-dev.png">
                                <div class="tags">
                                    <span>Thương mại điện tử</span>
                                    <span>Hệ thống quản trị doanh nghiệp</span>
                                    <span>Web App</span>
                                    <span>Landing Page</span>
                                </div>
                            </div>
                            <div class="services-item">
                                <img src="/img/android.png">
                                <div class="tags">
                                    <span>Ứng dụng Android</span>
                                </div>
                            </div>
                            <div class="services-item">
                                <img src="/img/iot.png">
                                <div class="tags">
                                    <span>Hệ thống IoT</span>
                                    <span>Thiết kế mạch</span>
                                    <span>Lập trình nhúng</span>
                                </div>
                            </div>
                        </div>
                        <div class="intro-carousel-item staff desktop">
                            <div class="staff-item">
                                <img src="/img/account.png">
                                <div class="staff-info">
                                    <p class="name">
                                        Khoa Nguyên
                                    </p>
                                    <p class="position">
                                        Manager
                                    </p>
                                </div>
                            </div>
                            <div class="staff-item">
                                <img src="/img/developer.png">
                                <div class="staff-info">
                                    <p class="name">
                                        Minh Sơn
                                    </p>
                                    <p class="position">
                                        Developer
                                    </p>
                                </div>
                            </div>
                            <div class="staff-item">
                                <img src="/img/designer.png">
                                <div class="staff-info">
                                    <p class="name">
                                        Ngô Lập
                                    </p>
                                    <p class="position">
                                        Designer
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<button class="next bouncingDown animation-infinite" onclick="plusSlide(1)">
                        <img src="/img/carousel-down.png">
                    </button>-->
                </div>
            </div>

            <div class="section" id="section-services">
                <div class="section-title fadeInUp-delay-500">
                    <p>DỊCH VỤ CỦA CHÚNG TÔI</p>
                </div>
                <!-- <div class="prompt-arrow mobile fadeInUp-delay-800">
                    <img src="/img/carousel-up.png">
                </div>  -->
                <div class="section-content service-list fadeInUp-delay-500">
                    <div class="service-list-container row">
                        <div class="service-list-item col-12 col-lg-6 row">
                            <div class="cover col-3 fadeInLeft-delay-800">
                                <img src="/img/e-commerce.png">
                            </div>
                            <div class="header col-9 fadeInLeft-delay-1100">
                                <p class="title">E-commerce Solutions</p>
                                <p class="desc">
                                    <ul>
                                        <li> Cài đặt, chỉnh sửa, thiết kế website Shopify.</li>
                                        <li> Thiết kế và phát triển công cụ tự động hóa (tool) trên Shopify.</li>
                                        <li>Thiết kết website trên Wordpress và Woo-Commerce.</li>
                                    </ul>
                                </p>
                                <p class="solutions">Lĩnh vực:
                                    <strong>Shopify, Woo-Commerce</strong>
                                </p>
                            </div>
                        </div>
                        <div class="service-list-item col-12 col-lg-6 row">
                            <div class="cover col-3 fadeInRight-delay-1100">
                                <img src="/img/web-dev.png">
                            </div>
                            <div class="header col-9 fadeInRight-delay-1400">
                                <p class="title">Website Development</p>
                                <p class="desc">
                                    <ul>
                                        <li>Lập trình website thương mại điện tử.</li>
                                        <li>Thiết kế website chuyên dụng cho quản lý doanh nghiệp.</li>
                                        <li>Ứng dụng web.</li>
                                        <li>Thiết kế landing page.</li>
                                    </ul>
                                </p>
                                <p class="solutions">Lĩnh vực:
                                    <strong>Landing Page, E-commerce, Web-app, Fully Customized</strong>
                                </p>
                            </div>
                        </div>
                        <div class="service-list-item col-12 col-lg-6 row">
                            <div class="cover col-3 fadeInLeft-delay-1400">
                                <img src="/img/android.png">
                            </div>
                            <div class="header col-9 fadeInLeft-delay-1700">
                                <p class="title">Android Applications</p>
                                <p class="desc">
                                    <ul>
                                        <li>Lập trình ứng dụng quản lý.</li>
                                        <li>Lập trình app Android theo yêu cầu.</li>
                                    </ul>
                                </p>
                                <p class="solutions">Lĩnh vực:
                                    <strong>Android Applications</strong>
                                </p>
                            </div>
                        </div>
                        <div class="service-list-item col-12 col-lg-6 row">
                            <div class="cover col-3 fadeInRight-delay-1700">
                                <img src="/img/android.png">
                            </div>
                            <div class="header col-9 fadeInRight-delay-2000">
                                <p class="title">IoT Solutions</p>
                                <p class="desc">
                                    <ul>
                                        <li> Thiết kế và triển khai các hệ thống giám sát, điều khiển tự động từ phần cứng đên
                                            phần mềm.</li>
                                        <li> Thiết kế mạch và lập trình nhúng.</p>
                                </ul>
                                </p>
                                <p class="solutions">Lĩnh vực:
                                    <strong>GSM, LORA, ZigBee, Microcontroller Application , Scada, Wifi, Monitoring System</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="prompt-arrow mobile fadeInDown-delay-800">
                    <img src="/img/carousel-down.png">
                </div> -->
            </div>

            <div class="section" id="section-tech">
                <div class="section-title fadeInUp-delay-500">
                    <p>CÔNG NGHỆ CỐT LÕI</p>
                </div>
                <!-- <div class="desc fadeInUp-delay-800">
                    Here are some of the major technologies we use for our projects
                </div> -->
                <div class="section-content tech-grid row fadeInUp-delay-1100">
                    <div class="tech-grid-item col-6 col-sm-4 col-xl-3">
                        <img src="/img/tech/nodejs.png">
                    </div>
                    <div class="tech-grid-item col-6 col-sm-4 col-xl-3">
                        <img src="/img/tech/django.png">
                    </div>
                    <div class="tech-grid-item col-6 col-sm-4 col-xl-3">
                        <img src="/img/tech/react.png">
                    </div>
                    <div class="tech-grid-item col-6 col-sm-4 col-xl-3">
                        <img src="/img/tech/restful.png">
                    </div>
                    <div class="tech-grid-item col-6 col-sm-4 col-xl-3">
                        <img src="/img/tech/aws.png">
                    </div>
                    <div class="tech-grid-item col-6 col-sm-4 col-xl-3">
                        <img src="/img/tech/iot.png">
                    </div>
                    <div class="tech-grid-item col-6 col-sm-4 col-xl-3">
                        <img src="/img/tech/jenkins.png">
                    </div>
                    <div class="tech-grid-item col-6 col-sm-4 col-xl-3">
                        <img src="/img/tech/firebase.png">
                    </div>
                </div>
            </div>

            <!-- <div class="section" id="section-work">
                <div class="section-title fadeInUp-delay-500">
                    <p>Dự Án</p>
                </div>
                <div class="prompt-arrow mobile fadeInUp-delay-800">
                    <img src="/img/carousel-up.png">
                </div>
                <div class="section-content work-grid row fadeInUp-delay-1100">
                    <div class="work-grid-item col-12 col-sm-6 col-xl-4" id="work-01">
                        <img class="featured" src="/img/cat.jpg">
                        <span class="project-name">Project 01</span>
                    </div>
                    <div class="work-grid-item col-12 col-sm-6 col-xl-4" id="work-02">
                        <img class="featured" src="/img/cat.jpg">
                        <span class="project-name">Project 02</span>
                    </div>
                    <div class="work-grid-item col-12 col-sm-6 col-xl-4" id="work-03">
                        <img class="featured" src="/img/cat.jpg">
                        <span class="project-name">Project 03</span>
                    </div>
                    <div class="work-grid-item col-12 col-sm-6 col-xl-4" id="work-04">
                        <img class="featured" src="/img/cat.jpg">
                        <span class="project-name">Project 04</span>
                    </div>
                    <div class="work-grid-item col-12 col-sm-6 col-xl-4" id="work-05">
                        <img class="featured" src="/img/cat.jpg">
                        <span class="project-name">Project 05</span>
                    </div>
                    <div class="work-grid-item col-12 col-sm-6 col-xl-4" id="work-06">
                        <img class="featured" src="/img/cat.jpg">
                        <span class="project-name">Project 06</span>
                    </div>
                </div>
                <div class="prompt-arrow mobile fadeInDown-delay-800">
                    <img src="/img/carousel-down.png">
                </div>
            </div>

            <div class="section" id="section-contact">
                <div class="section-title fadeInUp-delay-500">
                    <p>LIÊN HỆ</p>
                </div>
                <div class="section-content contact-form">
                    <div class="prompt-message fadeInUp-delay-800">
                        We'd love to listen to your request.
                    </div>
                    <form class="fadeInUp-delay-1100">
                        <div class="form-group">
                            <label for="name">Your Name</label>
                            <input type="name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Your Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Your Message</label>
                            <textarea class="form-control" id="message" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send</button>
                    </form>
                </div> 
            </div> -->
        </div>
    </section>

    <div class="work-detail" id="work-detail">
        <div class="close-button">
            <i class="fa fa-times"></i>
        </div>
        <div class="cover">
            <img src=''>
        </div>
        <div class="detail-content">
            <p class="name">Project 01</p>
            <p class="desc">Curabitur at velit at nunc suscipit auctor. Suspendisse ut tincidunt mi. Morbi vitae egestas elit. Morbi viverra
                ligula nisl, ac congue risus imperdiet id. Proin venenatis lectus eu felis viverra, quis efficitur nulla
                placerat. Sed in commodo ipsum.</p>
            <div class="images">
                <img src="/img/cat.jpg">
            </div>
        </div>
    </div>

    <footer class="site-footer col-12 active">
        <div>
            <span class="email">
                <a href="javascript:void(0)">
                    dev@devesigns.com
                </a>
            </span>
            <span>
                <strong> | </strong>
            </span>
            <span class="phone">
                <a href="javascript:void(0)">
                    (+84)1216983172
                </a>
            </span>
        </div>
        <div>
            <span class="copyright">
                &copy; 2018 Devesigns. All rights reserved.
            </span>
        </div>
    </footer>
    <a href="tel:01216983172" class="contact-button float">
        <i class="fa fa-phone my-float"></i>
    </a>
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5b686cade21878736ba2ac13/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>

    <script src="/lib/js/jquery.min.js"></script>
    <script src="/lib/js/jquery.pagepiling.min.js"></script>
    <script src="/lib/js/particles.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/work.js"></script>
</body>

</html>