<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="origin">

    <title>
        <%= title %>
    </title>

    <link rel="icon" href="/img/logo.svg">

    <link href="https://fonts.googleapis.com/css?family=K2D:300,400,500,600,700,800" rel="stylesheet">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' />
    <link rel='stylesheet' href='lib/css/slick.css' />
    <link rel='stylesheet' href='lib/css/animations.css' />
    <link rel='stylesheet' href='/css/fonts.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/animations.css' />
    <link rel='stylesheet' href='/css/responsive.css' />
</head>

<body>
    <!-- Begin Header Section -->
    <header class="site-header">
        <div class="container header-container row">
            <div class="logo-container col-6 no-left-padding animatedParent animateOnce">
                <div class="logo animated fadeInLeftShort">
                    <a href="/">
                        <img src="/img/logo-long.svg">
                    </a>
                </div>
            </div>
            <div class="menu-container col-6 no-right-padding animatedParent animateOnce">
                <div class="menu animated fadeInRightShort">
                    <ul>
                        <li class="menu-option home">
                            <a href="#home">
                                Home
                            </a>
                        </li>
                        <li class="menu-option services">
                            <a href="#services">
                                Services
                            </a>
                        </li>
                        <li class="menu-option work">
                            <a href="#work">
                                Work
                            </a>
                        </li>
                        <li class="menu-option contact">
                            <a href="#contact">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-mobile-button animated fadeInRightShort">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
            <div class="menu-mobile">
                <ul>
                    <li class="menu-option">
                        <a href="#home">
                            Home
                        </a>
                    </li>
                    <li class="menu-option">
                        <a href="#services">
                            Services
                        </a>
                    </li>
                    <li class="menu-option">
                        <a href="#work">
                            Work
                        </a>
                    </li>
                    <li class="menu-option">
                        <a href="#contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- End Header Section -->
    <!-- Begin Body Section -->
    <section class="site-main">
        <section id="home" class="main-section border-01">
            <div class="container row">
                <div class="col-12 col-md-4 no-left-padding" id="home-intro">
                    <div class="animatedParent animateOnce">
                        <p class="main-line animated fadeInUpShort">
                            We are a young energetic team of <span class="fs-extrabold">developers</span> and <span class="fs-extrabold">designers</span>.
                        </p>
                        <p class="sub-line">
                            Working to feed our cats.
                        </p>
                    </div>
                    <div id="scroll-prompt">
                        <div class="scroll-button">
                            <a href="#services"></a>
                        </div>
                        <div class="scroll-mes">
                            scroll<br>down
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 no-right-padding" id="home-illust">
                    <img src="img/header.svg" class="header-front">
                    <img src="img/header-bg.svg" class="header-bg">
                </div>
            </div>
        </section>
        <section id="services" class="main-section border-02">
            <div class="container animateOnce" data-sequence="300">
                <div class="section-header left col-12 animated" data-id="1">
                    Our Services
                </div>
                <div class="service-grid col-12 row">
                    <div class="service-grid-item col-6 col-md-4 animated" data-id="2">
                        <div class="service-icon">
                            <img src="img/services/ecommerce.svg">
                        </div>
                        <div class="service-title">
                            E-commerce Solutions
                        </div>
                        <div class="service-tags">
                            <p>
                                Shopify, Wordpress Setup
                            </p>
                            <p>
                                Automation Tools
                            </p>
                            <p>
                                Shopify Plugins
                            </p>
                        </div>
                    </div>
                    <div class="service-grid-item col-6 col-md-4 animated" data-id="3">
                        <div class="service-icon">
                            <img src="img/services/ux-ui.svg">
                        </div>
                        <div class="service-title">
                            UX-UI Design
                        </div>
                        <div class="service-tags">
                            <p>
                                Website Application
                            </p>
                            <p>
                                Landing Page
                            </p>
                            <p>
                                Logo Design
                            </p>
                        </div>
                    </div>
                    <div class="service-grid-item col-6 col-md-4 animated" data-id="4">
                        <div class="service-icon">
                            <img src="img/services/web-dev.svg">
                        </div>
                        <div class="service-title">
                            Website Development
                        </div>
                        <div class="service-tags">
                            <p>
                                Fullstack
                            </p>
                            <p>
                                Single page
                            </p>
                            <p>
                                Responsive
                            </p>
                        </div>
                    </div>
                    <div class="service-grid-item col-6 col-md-4 animated" data-id="5">
                        <div class="service-icon">
                            <img src="img/services/android.svg">
                        </div>
                        <div class="service-title">
                            Android Development
                        </div>
                        <div class="service-tags">
                            <p>
                                Native
                            </p>
                            <p>
                                Cross platform
                            </p>
                            <p>
                                Multi-device Support
                            </p>
                        </div>
                    </div>
                    <div class="service-grid-item col-6 col-md-4 animated" data-id="6">
                        <div class="service-icon">
                            <img src="img/services/crm.svg">
                        </div>
                        <div class="service-title">
                            CRM Software
                        </div>
                        <div class="service-tags">
                            <p>
                                CRM Solutions
                            </p>
                        </div>
                    </div>
                    <div class="service-grid-item col-6 col-md-4 animated" data-id="7">
                        <div class="service-icon">
                            <img src="img/services/iot.svg">
                        </div>
                        <div class="service-title">
                            IoT Solutions
                        </div>
                        <div class="service-tags">
                            <p>
                                Monitoring System
                            </p>
                            <p>
                                Microcontroller App
                            </p>
                            <p>
                                GSM, Lora, ZigBee, ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="work" class="main-section border-01">
            <div class="container animateOnce row" data-sequence="300">
                <div class="section-header right col-12 animated" data-id="1">
                    Our Work
                </div>
                <div class="project-detail-carousel-container animated col-12 col-md-9 no-left-padding" data-id="2">
                    <div id="project-detail-carousel">
                        
                    </div>
                    <div class="view-detail-container">
                        <button class="view-detail-button"></button>
                    </div>
                </div>
                <div class="project-roulette-container animated col-12 col-md-3 no-padding" data-id="3">
                    <div class="project-index">01</div>
                    <div class="roulette-arrow roulette-previous">
                        <i class="arrow up"></i>
                    </div>
                    <div id="project-roulette">
                        
                    </div>
                    <div class="roulette-arrow roulette-next">
                            <i class="arrow down"></i>
                    </div>
                </div>
            </div>
            <div id="project-detail">
                <div class="pd-container">
                    <div class="exit-button">
                        X
                    </div>
                    <div class="project-detail-container">
                    
                    </div>
                </div>
            </div>
            <div id="tech">
                <div class="container animateOnce" data-sequence="200">
                    <div class="heading animated" data-id="1">
                        What we use
                    </div>
                    <div class="tech-grid row">
                        <div class="col-6 col-md-3 animated" data-id="2">
                            <img src="img/tech/aws.png">
                        </div>
                        <div class="col-6 col-md-3 animated" data-id="3">
                            <img src="img/tech/django.png">
                        </div>
                        <div class="col-6 col-md-3 animated" data-id="4">
                            <img src="img/tech/firebase.png">
                        </div>
                        <div class="col-6 col-md-3 animated" data-id="5">
                            <img src="img/tech/jenkins.png">
                        </div>
                        <div class="col-6 col-md-3 animated" data-id="6">
                            <img src="img/tech/nodejs.png">
                        </div>
                        <div class="col-6 col-md-3 animated" data-id="7">
                            <img src="img/tech/react.png">
                        </div>
                        <div class="col-6 col-md-3 animated" data-id="8">
                            <img src="img/tech/restful.png">
                        </div>
                        <div class="col-6 col-md-3 animated" data-id="9">
                            <img src="img/tech/iot.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="main-section">
            <div class="container  animateOnce row" data-sequence="300">
                <div class="section-header left col-12 animated" data-id="1">
                    Contact Us
                </div>
                <div class="col-12 col-md-6 contact-form animated" data-id="2">
                    <form>
                        <div class="prompt-mes">
                            Got something on your mind?<br>
                            Drop us a line and we will help you to the best of our ability!
                        </div>
                        <div class="form-group">
                            <input type="name" class="form-control" id="contactName" aria-describedby="nameHelp" placeholder="Your name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp" placeholder="Your email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="contactMessage" rows="5" placeholder="Tell us what you're thinking about!"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-12 col-md-6 contact-illust">
                    <img src="img/contact.svg">
                </div>
            </div>
        </div>
    </section>
    <!-- Endn Body Section -->
    <!-- Begin Footer Section -->
    <footer class="site-footer">
        <div class="container row">
            <div class="col-6 col-md-4 contact footer-col">
                dev@devesigns.com - (+84) 796 9831 72
            </div>
            <div class="col-6 col-md-4 social footer-col">
                <span>
                    <a target="_blank" href="https://www.facebook.com/Devesigns-528512177566816/">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
            <div class="col-12 col-md-4 copyright footer-col">
                &copy;2018 - Devesigns
            </div>
        </div>
    </footer>
    <!-- End Footer Section -->
    <!-- <a href="tel:01216983172" class="contact-button float">
        <i class="fa fa-phone my-float"></i>
    </a>
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5b686cade21878736ba2ac13/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script> -->
    
    <script src="/lib/js/jquery.min.js"></script>
    <script src="/lib/js/jquery.appear.js"></script>
    <script src="/lib/js/slick.min.js"></script>
    <script src="/lib/js/css3-animate-it.js"></script>
    <script src="/lib/js/jquery.nicescroll.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/work.js"></script>
</body>

</html>