@media (max-width: 575px) {
    body {
        font-size: 0.8rem;
    }

    /* Header */
    .site-header {
        height: 60px;
    }

    .site-header .site-logo {
        padding: 0;
    }

    .site-header .nav #menu {
        font-size: 0.8rem;
    }

    .site-header .nav #menu li {
        padding: 0 10px;
    }

    /* Site Main */
    .site-main .section {
        padding: 60px 15px;
    }

    /* Section About */
    #section-about .logo {
        margin: 0 0 30px;
    }

    #section-about .logo img {
        width: 180px;
    }

    #section-about .introduction {
        padding: 0;
        margin-bottom: 20px;
    }

    #section-about .intro-carousel .services .services-item {
        padding-left: 0;
        padding-right: 0;
    }

    #section-about .intro-carousel .services .services-item img {
        width: 100%;
    }

    #section-about .intro-carousel .staff .staff-item {
        padding-left: 0;
        padding-right: 0;
    }

    #section-about .intro-carousel .staff .staff-item img {
        width: 100%;
    }

    #section-about .intro-carousel .services .services-item .tags {
        display: none;
    }

    #section-about .intro-carousel .prev,
    #section-about .intro-carousel .next {
        width: 60px;
        margin: 0;
    }

    /*  */
    .desktop {
        display: none !important;
    }
}

@media (max-width: 767px) {
    #section-about .intro-carousel {
        padding: 0;
    }

    #section-about .intro-carousel .intro-carousel-inner {
        min-height: 100px;
    }
}

@media (max-width: 1199px) {
    .section-content {
        padding: 0 5%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    #section-about .intro-carousel {
        padding: 0 20%;
    }

    #section-about .intro-carousel .intro-carousel-inner {
        min-height: 200px;
    }
}
@media (min-width: 1824px) {
    .section-content {
        padding: 0 25%;
    }
}