@media (max-width: 324px) {
    .site-header .nav #menu li {
        padding: 0 7px !important;
    }
}

@media (max-width: 575px) {
    body, html {
        overflow: unset !important;
    }
    
    body {
        font-size: 0.8rem;
    }

    /* Header */
    .site-header {
        height: 40px !important;
    }

    .site-header .site-logo {
        padding: 0;
    }

    .site-header .nav #menu {
        font-size: 0.8rem;
    }

    .site-header .nav #menu li {
        padding: 0 10px;
    }

    /* Site Main */
    .site-main .section {
        padding: 40px 15px !important;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section-title {
        font-size: 24px;
    }

    .section-content {
        padding: 0 !important;
    }

    /* Section About */
    #section-about {
        
    }

    #section-about .logo {
        margin: 20px 0 30px;
    }

    #section-about .logo img {
        width: 180px;
    }

    #section-about .introduction {
        padding: 0;
        margin-bottom: 20px;
    }

    #section-about .intro-carousel {
        margin: 0;
    }

    #section-about .intro-carousel .services .services-item {
        padding-left: 0;
        padding-right: 0;
    }

    #section-about .intro-carousel .services .services-item img {
        width: 100%;
    }

    #section-about .intro-carousel .staff .staff-item {
        padding-left: 0;
        padding-right: 0;
    }

    #section-about .intro-carousel .staff .staff-item img {
        width: 100%;
    }

    #section-about .intro-carousel .services .services-item .tags {
        display: none;
    }

    #section-about .intro-carousel .staff .staff-item .staff-info {
        display: none;
    }

    #section-about .intro-carousel .prev,
    #section-about .intro-carousel .next {
        width: 60px;
        margin: 0;
    }

    #section-services {
        overflow: hidden;
    }

    #section-services .service-list-item {
        border-bottom: 1px solid rgba(42, 42, 42, 0.1);
    }

    #section-services .service-list-item:last-of-type {
        border-bottom: none;
    }

    #section-services .service-list-item .header .title {
        font-size: 14px;
    }

    #section-services .service-list-item .header .desc {
        font-size: 0.7rem;
        overflow: hidden;
    }

    #section-services .service-list-item .header .solutions {
        font-size: 0.7rem;
    }

    #section-services .section-content {
        /* border-top: 1px solid rgba(42, 42, 42, 0.3);
        border-bottom: 1px solid rgba(42, 42, 42, 0.3); */
        padding: 10px 0 !important;
    }

    #section-work .work-grid {
        height: 70vh;
        overflow: auto;
        /* border-top: 1px solid rgba(42, 42, 42, 0.3);
        border-bottom: 1px solid rgba(42, 42, 42, 0.3); */
        background: #EAE7DC;
    }

    #section-work .work-grid .work-grid-item {
        height: 50%;
        border-bottom: 1px solid rgba(42, 42, 42, 0.1);
    }

    #section-work .work-grid .work-grid-item img {
        height: 90%;
    }

    .work-detail .detail-content {
        padding: 0 20px;
    }

    .site-footer {
        font-size: 0.6rem;
        padding-bottom: 5px;
    }

    .site-footer .left,
    .site-footer .right {
        float: none;
        text-align: center;
    }

    .contact-button.float {
        width: 50px;
        height: 50px;
        bottom: 10px;
        right: 10px;
    }

    .contact-button .my-float {
        margin-top: 17px;
    }

    /*  */
    .desktop {
        display: none !important;
    }
}

@media (min-width: 576px) {
    #section-about .intro-carousel .intro-carousel-inner {
        min-height: 25vh;
    }

    .mobile {
        display: none !important;
    }
}

@media (max-width: 767px) {
    #section-services .section-content {
        padding: 0 10%;
    }
}

@media (min-width: 575px) and (max-width: 1199px) {
    #section-about .intro-carousel {
        margin: 0 20%;
    }
}

@media (min-width: 1200px) {
    #section-services .section-content {
        padding: 0 10%;
    }
}

@media (min-width: 1824px) {
    #section-about .introduction {
        padding: 0 25%;
    }

    #section-services .section-content {
        padding: 0 15%;
    }

    #section-contact .section-content {
        padding: 0 35%;
    }
}

/* Responsive height */
@media (max-height: 575px) {
    
}

@media (max-height: 767px) {
    #section-about .logo img {
        width: 180px;
    }
}

@media (max-height: 768px) {
    body {
        font-size: 0.8rem;
    }

    .site-header {
        height: 60px;
    }

    #section-about .logo {
        margin-bottom: 40px;
    }

    .site-header .nav #menu {
        font-size: 0.8rem;
    }

    .site-main .section {
        padding: 60px 20px;
    }

    .section-title {
        margin: 15px 0 15px;
    }

    #section-about .intro-carousel .services .services-item .tags {
        padding-top: 10px;
        font-size: 0.6rem;
    }

    #section-about .intro-carousel .services .services-item .tags span {
        padding: 5px 7px;
    }

    #section-services .service-list-item .cover {
        padding: 15px;
    }

    #section-services .service-list-item .header {
        padding: 15px 0;
    }

    #section-services .service-list-item .header p {
        margin-bottom: 10px;
    }

    #section-services .service-list-item .header p:last-of-type {
        margin: 0;
    }

    #section-contact .section-content form input,
    #section-contact .section-content form textarea,
    #section-contact .section-content form .btn {
        font-size: 0.8rem;
    }
}